.titulo1{
    background-color: rgb(114, 114, 207);
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Kolker Brush', cursive;
}
.titulo2{
    font-family: 'Zilla Slab', serif;
}
.titulo3{
    font-family: 'Public Sans', sans-serif;
}
.contenedor{
    display: flex;
    justify-content: center;
}
button{
    background-color: brown;
    color: coral;
}
.body1{
    background-image: url(http://3.bp.blogspot.com/-gqqZT6iBfb0/Tmd7esejKKI/AAAAAAAAMao/mI-_PRT_XKU/s1600/baile.gif);
    background-repeat: no-repeat;
    background-position: right;
}
.table {
    border-collapse: collapse;
}

.table th{
    background-color: rgb(20, 40, 20);
    color: aliceblue;
}
.table td{
    border: 1px solid;
    text-align: center;
}
.table td:hover{
    background-color: brown;
    color: azure;
}
.table tr{
    background-color: rgb(166, 194, 180);
    color: black;
    font-family: 'Public Sans', sans-serif;

}
caption{
    font-family: 'Kolker Brush', cursive;
    font-size: 3rem;
}
.table th:hover{
    background-color: rgb(193, 193, 168);
    color: white;
}
